#DATABASE_URL=postgresql://[user]:[password]@server:port/namedb
#API_KEY=aqui lo que obtenga hackeando la pagina
#API_URL=aqui lo que obtenga hackeando la pagina
#FINNHUB_API_KEY=aqui pues la key de finnhub
#FINNHUB_API_URL=aqui pues la api url de finnhub 
